body {
  font-family: 'Sono', sans-serif;
}

/* Hint: What can you do with a media query and flexbox? */

/* flex container */
.pricing-container{
  display: flex;
  gap: 10px;
  column-gap: 20px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
/* each pricing plan */
.pricing-plan {
  
  background-color: aquamarine ;
  border-radius: 5px;
  flex-basis: 400px;
  flex-shrink: 0;
  height: 300px;
  text-align: center;
  padding: 20px 0px 10px;
  
}

/* each list on pricing plan */

.pricing-plan > ul{
 
  padding: 0;
}

.plan-price{
  font-size: 3rem;
  font-weight: bolder;
}
.plan-title{
  font-weight: bolder;
  color: red;

}

li{
  list-style: none;
  
 
}

.plan-button{
  background-color: 
  #8b3dff;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}



@media (max-width:480px){
  .pricing-container{
    flex-direction: column;
    gap:10px;
    height: 130vh;
    justify-content: space-around;
  }

  .pricing-plan {
  
    background-color: aquamarine ;
    border-radius: 5px;
    text-align: center;
    width: 310px;
    flex-basis: 250px;
    flex-shrink: 0;
    
    
    
  }

  .plan-price{
    font-size: 2rem;
    font-weight: bolder;
  }

 
}

@media (min-width:481px) and (max-width:1200px){
  .pricing-container{
    gap:5px;
    justify-content: space-around;
  }

  .pricing-plan {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine ;
    border-radius: 5px;
    text-align: center;
    flex-basis: 270px;
    height: 300px;

  }


  .plan-price{
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .plan-button{
    background-color: 
    #8b3dff;
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    align-self: center;
    
    
  }

}

@media (min-width:1201px) and (max-width:1600px){
  .pricing-container{
    gap:5px;
    justify-content: space-around;
  }

}
